<p><%= t('mail.reset_password.p.text1', email: @resource.email) %></p>

<p><%= t('mail.reset_password.p.text2') %></p>

<p><%= link_to t('mail.reset_password.a.text1'), edit_password_url(@resource, reset_password_token: @token, subdomain: (I18n.locale == :en ? nil : I18n.locale)) %></p>

<p><%= t('mail.reset_password.p.text3') %></p>
<p><%= t('mail.reset_password.p.text4') %></p>